/*НАСТРОЙКИ ДЛЯ ВСЕХ ЭЛЕМЕНТОВ*/
* {
    font-family: Roboto, Helvetica, Arial, sans-serif, otf-font-awesome; /*ШРИФТЫ*/
    font-size: 14px; /*РАЗМЕР ШРИФТА*/
    min-height: 0; /*МИНИМАЛЬНАЯ ВЫСОТА*/
    border-radius: 0; /*СКРУГЛЕНИЕ*/
}

/*ПАНЕЛЬ*/
window#waybar {
    background-color: #000000; /*ЦВЕТ ФОНА*/
    border-bottom: 0px solid #000000; /*РАМКА ВНИЗУ*/
}

/*КНОПКИ ВОРКСПЕЙСОВ*/
#workspaces button {
    padding: 0 5px; /*ВНУТРЕННИЙ ОТСТУП*/
    margin: 0 0px; /*ВНЕШНИЙ ОТСТУП*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
    color: #000000; /*ЦВЕТ*/
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
}

/*КНОПКИ ВОРКСПЕЙСОВ ПРИ НАВЕДЕНИИ*/
#workspaces button:hover {
    box-shadow: inset 0 -2px #000000; /*НАСТРОЙКА ПОЛОСКИ ПОД КНОПКОЙ*/
    color: #000000; /*ЦВЕТ*/
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
}

/*АКТИВНАЯ КНОПКА ВОРКСПЕЙСА*/
#workspaces button.focused {
    box-shadow: inset 0 -2px #000000; /*НАСТРОЙКА ПОЛОСКИ ПОД КНОПКОЙ*/
    color: #000000; /*ЦВЕТ*/
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
}

/*КНОПКА ВОРКСПЕЙСА ТРЕБУЮЩАЯ ВНИМАНИЯ*/
#workspaces button.urgent {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
}

/*ФОНЫ ДЛЯ ЭЛЕМЕНТОВ ПАНЕЛИ, СНАЧАЛО ПЕРЕЧИСЛЕННЫ ВСЕ ЧЕРЕЗ ЗАПЯТУЮ, ПОТОМ ПРИСВОЕННЫ СВОЙСТВА. МОЖНО ДЛЯ КАЖДОГО ЭЛЕМЕНТА ТАК СДЕЛАТЬ, НО У МЕНЯ ОДИНАКОВЫЕ ДЛЯ ВСЕХ, ПОЭТОМУ ПРОЩЕ ОБЪЕДИНИТЬ В ГРУППУ.*/

#clock, /*ЧАСЫ*/
#pulseaudio, /*УРОВЕНЬ ЗВУКА*/
#tray, /*ТРЕЙ*/
#language, /*РАСКЛАДКА КЛАВИАТУРЫ*/
#window, /*АКТИВНОЕ ПРИЛОЖЕНИЕ*/
#taskbar, /*ТАСКБАР*/
#cpu, /*ЗАГРУЖЕННОСТЬ ПРОЦЕССОРА*/
#memory /*ЗАНЯТО ПАМЯТИ*/
#battery /*ЗАНЯТО ПАМЯТИ*/
#cmus /*ЗАНЯТО ПАМЯТИ*/
#network /*ЗАНЯТО ПАМЯТИ*/
{
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #000000; /*ЦВЕТ*/
    padding: 0 10px; /*ВНУТРЕННИЙ ОТСТУП*/
    margin: 0 0px; /*ВНЕШНИЙ ОТСТУП*/
}

/*ТАСКБАР ПРИ НАВЕДЕНИИ*/
#taskbar button:hover {
    color: #8ed7fa; /*ЦВЕТ*/
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
    box-shadow: inset 0 -2px #000000; /*НАСТРОЙКА ПОЛОСКИ ПОД КНОПКОЙ*/
}

/*МОДУЛЬ CMUS*/
#custom-cmus {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #35557c; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}
#custom-cmusn {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #35557c; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}
#custom-cmusp {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #35557c; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}

#memory {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #000000; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}

#network {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #000000; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}

#battery {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #000000; /*ЦВЕТ*/
    min-width: 0px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
}

#temperature {
    background-color: #8ed7fa; /*ЦВЕТ ФОНА*/
    color: #000000; /*ЦВЕТ*/
    min-width: 40px; /*МИНИМАЛЬНАЯ ШИРИНА*/
    border-right: 7px solid #8ed7fa; /*РАМКА СПРАВА*/
    border-left: 7px solid #8ed7fa; /*РАМКА СЛЕВА*/
}

/*НАСТРОЙКА СТРЕЛОК НА ПАНЕЛИ*/
#custom-right,
#custom-left {
    font-size: 14px;  /*РАЗМЕР ШРИФТА*/
    color: #000000;  /*ЦВЕТ*/
    padding: 0 0px; /*ВНУТРЕННИЙ ОТСТУП*/
    margin: 0 0px; /*ВНЕШНИЙ ОТСТУП*/
    background: #8ed7fa; /*ЦВЕТ ФОНА*/
}
#custom-right2,
#custom-left2 {
    font-size: 14px;  /*РАЗМЕР ШРИФТА*/
    color: #8ed7fa;  /*ЦВЕТ*/
    background: #000000; /*ЦВЕТ ФОНА*/
    padding: 0 0px; /*ВНУТРЕННИЙ ОТСТУП*/
    margin: 0 0px; /*ВНЕШНИЙ ОТСТУП*/
}
